@media (max-width: 549px) {
    .header{
        margin-bottom: 0;
    }
    
}

.form select{
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.form select .null {
    color: rgba(0, 0, 0, 0.5);
}

.form select option {
    color: black;
    font-weight: var(--weight3);
}

.form .selected {
    color: black;
}

.form .default{
    color: rgba(0, 0, 0, 0.5);
    font-weight: var(--weight2);
}