.layout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.layout figure{
    width: 48%;
}

.layout figure img{
    width: 100%;
    max-height: 700px;
}

.layout main{
    width: 48%;
    max-height: 700px;
}

.div-top{
    padding: 10px 0;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background-color: var(--brand1);
}

.div-top span{
    color: var(--white);
    font-weight: var(--weight3);
    font-size: var(--size4);

}

.div-top img{
    position: absolute;
    right: 20px;
}

.main-list{
    max-height: 648px;   
    padding: 20px 25px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.main-list li{
    padding: 12px 20px;
    background-color: var(--white);
    border-bottom: 1px solid var(--brand1);
}

.main-list li h2{
    font-weight: var(--weight1);
    font-size: var(--size4);
    margin-bottom: 10px;
}

.main-list li h2 + small{
    font-weight: var(--weight3);
    font-size: var(--size);
    display: block;
    margin-bottom: 12px;
}

.kind{
    display: inline-block;
    padding: 5px 20px;
    color: var(--brand1);
    border: 1px solid var(--brand1);
    border-radius: var(--radius2);
}